.dropdown{
    &__menu {        
        width: rem(118);
        position: absolute;
        top: rem(50);
        left: rem(-5);
        list-style: none;
        text-align: start;
        border: 1px solid #000000;
        border-radius: 0 0 rem(10) rem(10);
        background: #FFF;
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
        transition: 0.3s;
        @media (max-width:$mobile){
           width: rem(163); 
           left: rem(1);
        }
        li{
            cursor: pointer;
        }
        &-active {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }
    &__link{
        display: block;
        height: 100%;
        width: 100%;
        color: #000000;
        padding: rem(16);
        color: var(--000000, #000);
        font-family: Montserrat;
        font-size: rem(18);
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        transition: all 0.2s ease 0s;
        @media (max-width:$mobile){
          font-size: rem(32); 
        }
        &:hover{
          color:#415167;
          text-decoration: underline;
        }
    }
}

.clicked {
display: none;
}