.policy {
    background: #F9F9F9;
    padding-bottom: rem(25);
    &__title {
        color: #000;
        font-family: Uni Sans;
        @include adaptiveValue("font-size", 36, 24, 0, 1320, 768);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        @include adaptiveValue("margin-bottom", 60, 30, 0, 1320, 768);
    }
    &__txt {
        color: #000;
        font-family: Montserrat;
        font-size: rem(18);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

