.cart {
    @media (min-width: $mobile) {
        width: rem(583);
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // .product-cart__title
    &__title {
        color: #415167;
        font-family: Uni Sans;
        @include adaptiveValue("font-size", 36, 24, 0, 1280, 375);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
    }
    // .product-cart__close
    &__close {
        cursor: pointer;
        margin-right: -20px;
        svg {
            fill: #000000;
            width: rem(80);
        }
    }
    &__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: rem(50);
        margin-bottom: rem(80);
        svg {
            fill: #415167;
            width: rem(150);
            height: rem(150);
            margin-bottom: rem(15);
        }
        p {
            color: #415167;
            font-family: Uni Sans;
            font-size: rem(24);
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }
    }
    // .cart__btns
    &__btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $mobile) {
            a {
                width: 100%;
                padding: rem(30) rem(40);
            }
            button {
                width: 100%;
                padding: rem(29) rem(40);
            }
        }
    }
    // .cart__btn
    &__btn {
        width: rem(345);
        margin-bottom: rem(10);
    }
    &__remove {
        display: flex;
        width: rem(345);
        padding: rem(20) rem(50);
        justify-content: center;
        align-items: center;
        border-radius: rem(10);
        border: 1px solid #000;
        color: #000;
        text-align: center;
        font-family: Nunito;
        font-size: rem(18);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}
.product-cart {
    width: 100%;
    margin-bottom: rem(20);
    &__main {
        position: relative;
        display: flex;
        @media (max-width: em(550)) {
            flex-direction: column;
        }
    }
    // .product-cart__img
    &__img {
        width: rem(195);
        margin-right: rem(10);
        flex: 0 0 auto;
        @media (max-width: em(550)) {
            width: 80%;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    // .product-cart__info
    &__info {
        flex: 1 1 auto;
    }
    // .product-cart__name
    &__name {
        color: #000;
        font-family: Uni Sans;
        font-size: rem(24);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-bottom: rem(20);
        padding-right: rem(30);
        @media (max-width: em(550)) {
            padding-right: 0;
        }
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    // .product-cart__select
    &__select {
        color: #000;
        font-family: Montserrat;
        font-size: rem(24);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        span {
            color: #000;
            font-family: Montserrat;
            font-size: rem(24);
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
        margin: rem(10) 0;
    }
    // .product-cart__bottom
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: rem(53);
    }
    // .product-cart__caunter
    &__caunter {
        border-radius: rem(30);
        border: 1px solid rgba(0, 0, 0, 0.15);
        background: #fff;
    }
    // .product-cart__total
    &__total {
        &-old {
            color: #000;
            font-family: Nunito;
            font-size: rem(18);
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-decoration: line-through;
        }
        &-actual {
            color: #000;
            font-family: Uni Sans;
            font-size: rem(24);
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }
    }
    &__delete {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        svg {
            fill: #939393;
            width: rem(40);
            height: rem(40);
        }
    }
}
.total-cart {
    margin-bottom: rem(20);
    // .total-cart__item
    &__item {
        display: flex;
        align-items: center;
        padding-bottom: rem(30);
        @media (max-width: em(550)) {
            justify-content: space-between;
        }
    }
    // .total-cart__title
    &__title {
        color: #415167;
        font-family: Uni Sans;
        font-size: rem(20);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        width: rem(115);
        @media (min-width: em(550)) {
            margin-right: rem(130);
        }
    }
    // .total-cart__price
    &__price {
        color: #000;
        display: flex;
        flex-direction: column;
        font-family: Uni Sans;
        font-size: rem(24);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
}
