.select {
    width: 100%;
    position: relative;
    &__btn {
        display: flex;
        align-items:center;
        justify-content: space-between;
        border-radius: rem(10);
        border: 1px solid #000;
        background: #FFF;        
        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
        height: rem(58);
        overflow: hidden;
        span{
            color: #000;
            font-family: Montserrat;
            font-size: rem(20);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        padding: rem(16) rem(22);
        cursor: pointer;
        svg{
            fill: #000;
            width: rem(20);
            height: rem(20);
            transition: all 0.4s ease 0s;
        }
        &-active{
            svg{
                transform: rotate(180deg);
            }
        }
    }
    &__content {
        position: absolute;
        padding: rem(16);
        color: #415167;
        font-family: Montserrat;
        font-size: rem(16);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        top: 85%;
        left: 0;
        width: 100%;
        z-index: 5;        
        border-radius: 0 0 rem(10) rem(10);
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        background: #FFF;
    }
    &__item {
        padding: rem(10);
        cursor: pointer;
        transition: all 0.2s;
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
