// @import '../../style/style';

.counter{ 
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    user-select: none;
    // padding-right: rem(20);
    button{
        padding: rem(5) rem(20);
    }
    button,
    span{
        color: #000;
        /* Н4 */
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }   
    
}



