.counter{ 
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    user-select: none;
    button{
        padding: rem(5) rem(20);
    }
    button,
    span{
        color: #000;
        font-family: Montserrat;
        font-size: rem(24);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }       
}



