.not-found {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 rem(10);
    @media (max-width:$mobile){
        flex-direction: column; 
    }
    &__info {
        flex: 1 1 70%
    }
    &__img{
        max-width: rem(500);
        @include adaptiveValue("width", 350, 200, 0, 902, 375 );
        svg{
            width: 100%;
        }
    }
    // .not-found__title
    &__title {
        color:#415167;
        font-family: Uni Sans;
        font-size: rem(48);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-bottom: rem(15);
    }
    &__txt {
        color:#415167;
        font-family: Montserrat;
        @include adaptiveValue("font-size", 36, 24, 0, 1350, 375 );
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        max-width: rem(700);
        margin-bottom: rem(100);
        @include adaptiveValue("margin-bottom", 100, 40, 0, 1350, 375 );
    }
    &__btn {
        display: flex;
        @media (max-width:$mobile){
            margin-bottom: rem(35); 
        }
    }
}
