.result {
    background: #F9F9F9;
    &__title {
        color: #415167;
        font-family: Uni Sans;
        font-size: rem(55);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-bottom: rem(130);
    }
    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiveValue("padding-bottom", 150, 69, 0, 1350, 375 );
        svg{
            width: rem(200);
            height: rem(200);
            fill:#000;
            margin: rem(50) 0;
            @media (max-width:$mobile){
                margin: rem(30) 0; 
            }
        }
        a{
            color: #000;
            font-family: Montserrat;
            font-size: rem(20);
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-decoration-line: underline;
        }
    }
    &__txt {
        color: #000;
        font-family: Montserrat;
        text-align: center;
        @include adaptiveValue("font-size", 28, 20, 0, 1350, 375 );
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: rem(824);
    }
}
