@font-face {
    font-family: 'Uni Sans';
    src: url('../../fonts/UniSansHeavyCAPS.woff2') format('woff2'),
        url('../../fonts/UniSansHeavyCAPS.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}