.listProduct {
    &__product {
        position: relative;
        border-radius: 15px;
        background: #fff;
        @include adaptiveValue("width", 422, 333, 0, 1340, 1070);
        @media (max-width: em(1069)) {
            @include adaptiveValue("width", 422, 359, 0, 895, 768);
        }
        @media (max-width: $mobile) {
            width: 92%;
        }
        margin: 0 10px;
        margin-bottom: 15px;
    }
    // .coffee__img
    &__img {
        img {
            width: 100%;
        }
    }
    // .coffee__triangles
    &__triangles {
        position: absolute;
        height: 60%;
        top: 10px;
        right: 10px;
    }
    // .coffee__triangle
    &__triangle {
        img {
            @include adaptiveValue("width", 94, 70, 0, 1320, 768);
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $mobile) {
                @include adaptiveValue("width", 94, 70, 0, 768, 375);
                // @include adaptiveValue("height", 140, 103, 0, 768, 375);
            }
        }
        padding-left: 7px;
        margin-bottom: -7px;
    }
    // .coffee__bottom
    &__main {
        padding: 0 rem(20) rem(45);
    }
    // .coffee__price
    &__price {
        color: #c7a17a;
        font-family: Montserrat;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    // .coffee__opt
    &__opt {
        color: #000;
        /* paragraph */
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 20px;
    }
    // .coffee__name
    &__name {
        color: #232c38;
        /* H8 */
        font-family: Uni Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-bottom: 15px;
    }
    // .coffee__info
    &__info {
        color: #151d28;
        /* paragraph */
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 25px;
    }
    &__select {
        margin-bottom: rem(25);
        width: rem(226);
    }
    &__bottom {
        width: 311px;
        &-coffee {
            width: 100%;
        }
    }
    &__counter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background: #fff;
        width: 100%;
    }
    &__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 11px;
        border-radius: 30px;
        background: var(--000000, #000);
        color: var(--ffffff, #fff);
        text-align: center;
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        transition: all 0.3s ease 0s;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        svg {
            fill: #fff;
            transition: all 0.3s ease 0s;
        }

        &:hover {
            background-color: #fff;
            color: #000;
            svg {
                fill: #000;
            }
        }
    }
}
