.home-merch {
    background: #F9F9F9;
    @include adaptiveValue("padding-top", 150, 50, 0, 768, 375);
    @include adaptiveValue("padding-bottom", 250, 170, 0, 768, 375);
    &__bg{
        background: #F2F2F2;
        @media (max-width:$mobile){
            @include adaptiveValue("padding-bottom", 330, 200, 0, 768, 375);
        }
    }
    &__container {
        display: flex;
        align-items:center;
        position: relative;
        @media (max-width:$mobile){
            flex-direction: column;
        }
    }
    // .home-merch__info
    &__info {        
        @media (min-width:$mobile){
            width: rem(640);
            padding-top: rem(69);
            padding-bottom: rem(69);
        }      
    }
    &__text{
        @media (max-width:$mobile){              
            padding: rem(40) rem(45) 0;
        }
    }
    // .home-merch__title
    &__title {
        color: #000;
        font-family: Uni Sans;
        @include adaptiveValue("font-size", 48, 20, 0, 1070, 375);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-bottom: rem(25);
    }
    // .home-merch__txt
    &__txt {
        color: #415167;
        font-family: Montserrat;
        @include adaptiveValue("font-size", 24, 18, 0, 1070, 375);
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: rem(40);
    }
    // .home-merch__btn
    &__btn {
        display: flex;
        @media (max-width:$mobile){
            justify-content: center; 
        }
    }
    // .home-merch__img
    &__img {
        position: absolute;
        @include adaptiveValue("top", -85, 50, 0, 1320, 1070 );
        right: -80px;              
        @media (max-width:$mobile){
            top: rem(300);
            right: auto;
        }
        img{
            @include adaptiveValue("width", 650, 400, 0, 1320, 1070);
            @media (max-width:$mobile){
                @include adaptiveValue("width", 650, 400, 0, 768, 375);
            }
            transform: rotate(30deg);
        }
    }
}