.home-drip {
    background:#F9F9F9;
    @include adaptiveValue("padding-bottom", 130, 80, 0, 1320, 768);
    &__subtitle {
        color: #415167;
        font-family: Montserrat;
        font-size: rem(24);
        font-weight: 300;
        margin-bottom: rem(15);
    }
     // .home-drip__title
    &__title {
        color: #415167;
        font-family: Uni Sans;
        font-size: rem(48);
        font-weight: 900;
        @include adaptiveValue("margin-bottom", 70, 50, 0, 1320, 768 );
    }
     // .home-drip__list
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: -30px;
        @media (max-width: em(1068)){
            margin-right: -10px;
        }
        @media (max-width:$mobile){
            flex-direction: column;
            flex-wrap: nowrap;   
            align-items: center         
        }
    }
     // .home-drip__bottom
    &__bottom {
        display: flex;
        justify-content: center; 
        a{
            padding: rem(30) rem(65);
            font-size: rem(24);
        }
        @media (max-width:$mobile){
            flex-direction: column;
            a{
                padding: rem(30) 0;
            }
        }   
    }
}