// @import '../../style/style';

.list-drip {
    // .list-drip__product
    &__product {
        display: flex;
        width: 620px;
        @include adaptiveValue("width", 620, 509, 0, 1320, 1068);

        border-radius: 15px;
        background: #FFF;
        margin-bottom: 120px;
        @include adaptiveValue("margin-bottom", 120, 40, 0,  1068, 375);
        margin-right: 25px;
        @media (max-width: em(1068)){
              flex-direction: column;
              @include adaptiveValue("width", 500, 360, 0, 1068, 768);
              margin-right: 10px;
        }
        @media (max-width:$mobile){
            @include adaptiveValue("width", 600, 360, 0, 768, 320);              
       }
    }
    // .list-drip__img
    &__img {
        width: 280px;
        
        
        
        @media (max-width: em(1068)){
            width: 100%;
        }
        img{
            overflow: hidden;
            object-fit: cover;
            max-height: 280px;
        }        

    }
    // .list-drip__bottom
    &__bottom {
        padding: 28px 0 30px 29px;
    }
    // .list-drip__price
    &__price {
        color: #C7A17A;
        font-family: Montserrat;
        font-size: 23px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    // .list-drip__opt
    &__opt {
        color: #000;
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 20px;
    }
    // .list-drip__name
    &__name {
        color: #232C38;
        font-family: Uni Sans;
        font-size: 17px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-bottom: 15px;
    }
    // .list-drip__info
    &__info {
        color: #151D28;
        /* paragraph */
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 27px;
    }
    // .list-drip__btn
    &__btn {
        display: flex;
        button{
            display: flex;
            align-items: center;            
            svg{                
                fill: white;
                margin-left: 10px;
            }
        }
    }
}
.btn {

}


