.footer {
    position: relative;
    padding-bottom: rem(50);
    background: #000;
    &__map {
        margin-top: rem(32);
        height: rem(500);
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: rem(100);
        @media (max-width:$mobile){
            justify-content: center; 
        }
    }
    // .footer__address
    &__address {
        @media (min-width:$mobile){
            margin-right: rem(20);              
        }
    }
    // .footer__right
    &__right {
        @media (max-width:$mobile){
            position: absolute;
            top: rem(532);
            left: 0;
            right: 0;
        }
    }
}
.address-footer {
    border-radius: rem(15);
    width: rem(288);
    background: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
        color: #000;
        text-align: center;
        padding-top: rem(40);
        font-family: Uni Sans;
        font-size: rem(20);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    &__txt {
        color:  #000;
        padding-top: rem(30);
        text-align: center;
        max-width: rem(250);
        font-family: Montserrat;
        font-size: rem(18);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: rem(40);
        margin: 0 auto;
    }
    &__btn {
        border: 1px solid rgba(0, 0, 0, 0.70);
        background: #000;
        color: #F9F9F9;
        text-align: center;
        margin-top: rem(40);
        font-family: Uni Sans;
        font-size: rem(20);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        padding: rem(20) rem(20);
        border-radius: 0 0 rem(15) rem(15);
        transition: all 0.3s ease 0s;
        &:hover{
            background:#F9F9F9;
            color: #000;
        }
    }
}
.right-footer {
    border-radius: rem(15);
    background: rgba(0, 0, 0, 0.70);  
    padding: rem(20) rem(24) rem(15);  
    &__top{
        display: flex;
        @media (max-width:em(477)){
            flex-direction: column;              
        }
    }
    &__buyer {
        padding-right: rem(20);
    }
    &__title {
        color: #F9F9F9;
        font-family: Uni Sans;
        font-size: rem(20);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-bottom: rem(20);
    }
    &__item {
        color: #F9F9F9;
        font-family: Nunito;
        font-size: rem(18);
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: rem(20);
        a{
            transition: all 0.2s ease 0s;
        }
        &:hover{
            a{
                color:#567bad;
            }
        }
    }
    // .right-footer__socials
    &__socials {
        display: flex;
    }
    &__social {
        margin-right: rem(15);
        &:hover{
            svg{
                fill: #567bad;
            }
        }
        svg{
            transition: all 0.2s ease 0s;
            width: rem(24);
            height: rem(24);
            fill: #F9F9F9;
        }
    }
    &__contacts {
        border-left:1px solid #F9F9F9;
        padding-left: rem(20);
        @media (max-width:em(477)){
            border-left:none;
            border-top: 1px solid #F9F9F9;
            padding-left: 0;
            padding-top: rem(20);
        }
    }
    // .right-footer__phone
    &__phone {
        color:  #F9F9F9;
        font-family: Nunito;
        font-size: rem(18);
        font-weight: 300;
        line-height: normal;
        margin-bottom: rem(20);
        a{
            transition: all 0.2s ease 0s;
        }
        &:hover{
            a{
                color:#567bad;
            }
        }
    }
    &__mail {
        color:  #F9F9F9;
        font-family: Nunito;
        font-size: rem(18);
        line-height: normal;
        font-weight: 300;
        margin-bottom: rem(20);
    }
    &__address {
        color:  #F9F9F9;
        font-family: Nunito;
        font-size: rem(18);
        line-height: normal;
        font-weight: 300;
        margin-bottom: rem(20);
    }
}
.bottom-footer {
    padding-top: rem(29);
    @media (max-width:$mobile){
        padding-top: rem(355); 
    }
    @media (max-width: em(477)){
        padding-top: rem(555);
    }
    &__top {
        display: flex;
    }
    &__logo {
        padding-right: rem(24);
        svg{
            width: rem(100);
            height: rem(47);
            fill:#F9F9F9;
        }
    }
    &__text {
        color: #F9F9F9;
        font-family: Montserrat;
        @include adaptiveValue("font-size", 24, 14, 0, 1320, 375);
        font-size: rem(24);
        font-weight: 300;
        line-height: normal;
        max-width: rem(760);
    }
    &__down {
        display: flex;
        justify-content: space-between;
        padding-top: rem(40);
    }
    &__txt {
        color:#F9F9F9;
        font-family: Montserrat;
        font-size: rem(14);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


