.radio {
    display: flex;
    justify-content: space-between;
    &__btn {
        cursor: pointer;
        color: #000;
        font-family: Montserrat;
        font-size: rem(24);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: rem(10);
        border: 1px solid rgba(0, 0, 0, 0.30);
        width: rem(160);
        text-align: center;
        padding: rem(10);
        transition: all 0.3s ease 0s;
        &:hover{
            background:#000; 
            color:#FFF;         
        }
        &-active{
            background:#000; 
            color:#FFF;  
        }
    }
}
