.auth {
    background: #F9F9F9;
    padding-top: rem(50);
    padding-bottom: rem(50);
    // .auth__container
    &__container {
        display: flex;
        justify-content: center;
    }
    &__form{
        width: rem(500);
        border: 2px solid #000;
        border-radius: rem(15);
        padding: rem(20) rem(30);        
    }
    &__title{
        color:  #000;
        font-family: Montserrat;
        font-size: rem(20);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: rem(15);
    }
    &__reject{
        color:  red;
        font-family: Montserrat;
        font-size: rem(15);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: rem(15);
    }
    // .auth__input
    &__input {
        display: flex;
        align-items:center;
        margin-bottom: rem(20);
        input{
            width: 100%;
            padding: rem(23) rem(30);
            align-items: center;
            border-radius: rem(15);
            border: 2px solid #000;
            background: #FFF;
            color: #415167;
            font-family: Montserrat;
            font-size: rem(18);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        &-error{
            input{
                border: 2px solid #B00404; 
            }
        }
    }
    // .auth__btn
    &__btn {
        display: flex;
        justify-content: flex-end;
        button{
            padding: rem(20) rem(45);
        }
    }
}

