.home-opt {
    padding-bottom: rem(50);
    background: #F9F9F9;
    &__subtitle {
        color: #415167;
        font-family: Montserrat;
        @include adaptiveValue("font-size", 36, 24, 0, 1320, 375);
        font-weight: 300;
        margin-bottom: rem(25);
    }
    &__title {
        color: #415167;
        font-family: Uni Sans;
        @include adaptiveValue("font-size", 48, 24, 0, 1320, 375);
        font-weight: 900;
        @include adaptiveValue("margin-bottom", 90, 70, 0, 1070, 375);
    }
}
.slider-opt {    
    .swiper-button-prev,
    .swiper-button-next{
        display: none;
    }
    &__content {
        position: relative;
        border-radius: rem(15);
        background: #FFF;
    }
    &__img {
        img{
            width: 100%;
        }
    }
    &__triangles {
        position: absolute;
        height: 100%;
        top: 0;
        right: rem(20);
    }
    &__triangle {
        img{
            @include adaptiveValue("width", 94, 70, 0, 1320, 1001);
            @media (max-width: em(1000)){
                @include adaptiveValue("width", 94, 70, 0, 1000, 679);
            }
            @media (max-width: em(679)){
                @include adaptiveValue("width", 124, 70, 0, 679, 375);
            }
            display: flex;
            align-items: center;
            justify-content: center;
        }
        padding-left: rem(7);
        margin-bottom: rem(-10);
    }
    &__bottom {
        padding: rem(25) rem(22);
    }
    &__prices {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(15);
    }
    &__left {
        color: #C7A17A;
        font-family: Montserrat;
        font-size: rem(28);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &__right {
        color: #5B5B5B;
        font-family: Nunito;
        font-size: rem(20);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: line-through;
    }
    &__name {
        color: #232C38;
        font-family: Uni Sans;
        font-size: rem(20);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-bottom: rem(15);
    }
    &__txt {
        color: #151D28;
        font-family: Nunito;
        font-size: rem(18);
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: rem(25);
    }
    &__btn{
        button{
            display: flex;
            align-items: center;
        }
        svg{
            fill: white;
            margin-left:10px;
        }
    }
    &__navigation {
        @include adaptiveValue("margin-top", 90, 40, 0, 1320, 375);
        padding: 0 rem(15);
        display: flex;    
        justify-content: space-evenly;
        @media (max-width:em(1000)){
            justify-content: space-around;
        }
        @media (max-width:em(679)){
            justify-content: space-between;
        }
        .swiper-button-disabled{
            svg{
                fill: #ede5e5;
                opacity: 0.5;
                &:hover{
                    fill:#ede5e5;
                }
            }
        }
    }
    &__prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(45);
        height: rem(45);        
        border-radius:50%;
        background-color: black;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        @media (any-hover: hover){
            &:hover{
                svg{
                    fill: #415167;
                }
            }
        }
        svg{
            transition: all 0.2s ease 0s;
            fill: #FFF;            
            transform: rotate(90deg);
            margin-right: rem(5);
        }
    }
    &__next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(45);
        height: rem(45);        
        border-radius:50%;
        background-color: black;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        svg{
            transition: all 0.2s ease 0s;
            fill: #FFF;            
            margin-left: 5px;
            transform: rotate(-90deg);
        }
        @media (any-hover: hover){
            &:hover{
                svg{
                    fill: #415167;
                }
            }
        }
    }
}